.header {
  position: static;   /* NOT fixed, NOT absolute */
  width: 100%;
  background-color: #000;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  box-sizing: border-box;
}

.header h1 {
  color: #00ffff;
  margin: 0;
}

/* NAV */
.header nav {
  display: flex;
  gap: 20px;
}

.header nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.header nav a:hover {
  color: #00ffff;
}
