html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

/* General App Styling */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 170px;  /* Increased padding to prevent overlap with header */
}

/* Header Styling */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.header h1 {
  color: #00ffff;
  font-size: 24px;
  margin: 0;
}

.header nav {
  display: flex;
  gap: 20px;
  justify-content: center;  /* Keep navbar buttons aligned to the right */
  align-items: center;  /* Ensure buttons align vertically center */
  width: 100%;
}

.header nav a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  transition: color 0.3s;
  text-decoration: none;
  padding: 10px 20px;  /* Increase clickable area of buttons */
}

.header nav a:hover {
  color: #00ffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
@media (min-width: 769px) {
  .header nav {
    padding-left: 10px;  /* Add space inside the navbar on larger screens */
  }
}


/* Mobile/Tablet Responsive Adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .header nav {
    flex-direction: column;  /* Stack nav links vertically */
    gap: 10px;
    width: 100%;  /* Full width for mobile */
    margin-top: 10px;
  }

  .header nav a {
    font-size: 16px;
    padding: 10px 20px;
  }

  /* Add more padding to prevent overlap on mobile */
  .App {
    padding-top: 160px;  /* Increased padding to 180px for mobile */
  }
}
